.loading {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-animation: flicker 2s infinite;
  -moz-animation: flicker 2s infinite;
  -o-animation: flicker 2s infinite;
   animation: flicker 2s infinite;
}

@keyframes flicker {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes flicker {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes flicker {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes flicker {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
