.loading {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -webkit-animation: flicker 1s infinite;
  -moz-animation: flicker 1s infinite;
  -o-animation: flicker 1s infinite;
   animation: flicker 1s infinite;
}

@keyframes flicker {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flicker{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flicker{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flicker{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
